<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% include header %>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to My Favorite Games</h1>
            <p class="lead">Explore my favorite games and learn more about them.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="/images/valorant.webp" class="card-img-top" alt="Valorant">
                    <div class="card-body">
                        <h5 class="card-title">Valorant</h5>
                        <p class="card-text">Discover the world of Valorant, a tactical first-person shooter game.</p>
                        <a href="/valorant" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="/images/pubg.webp" class="card-img-top" alt="PUBG">
                    <div class="card-body">
                        <h5 class="card-title">PUBG</h5>
                        <p class="card-text">Experience the thrill of PlayerUnknown's Battlegrounds, an intense battle royale game.</p>
                        <a href="/pubg" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="/images/gta5.webp" class="card-img-top" alt="GTA 5">
                    <div class="card-body">
                        <h5 class="card-title">GTA 5</h5>
                        <p class="card-text">Enter the criminal underworld of Grand Theft Auto V, an action-adventure game.</p>
                        <a href="/gta5" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="/images/cod_warzone.webp" class="card-img-top" alt="COD Warzone">
                    <div class="card-body">
                        <h5 class="card-title">COD Warzone</h5>
                        <p class="card-text">Engage in intense combat in Call of Duty: Warzone, a free-to-play battle royale game.</p>
                        <a href="/cod_warzone" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
