<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        .game-info {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .game-info h2 {
            margin-top: 0;
        }
        .game-info ul {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
</head>
<body>
    <% include header %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="game-info">
                    <h2>About PUBG</h2>
                    <p class="lead">PlayerUnknown's Battlegrounds (PUBG) is an online multiplayer battle royale game developed and published by PUBG Corporation.</p>
                    <p>Drop into the intense world of PUBG, where 100 players fight to be the last one standing on a deserted island filled with weapons, vehicles, and danger.</p>
                    <p>PUBG offers intense battles on a massive island map where players scavenge for weapons and fight to be the last one standing.</p>
                </div>
                <div class="game-info">
                    <h2>System Requirements</h2>
                    <ul>
                        <li>OS: Windows 7/8/10 (64-bit)</li>
                        <li>Processor: Intel Core i5-4430 / AMD FX-6300</li>
                        <li>Memory: 8 GB RAM</li>
                        <li>Graphics: NVIDIA GeForce GTX 960 2GB / AMD Radeon R7 370 2GB</li>
                        <li>Storage: 30 GB available space</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/images/pubg.webp" class="img-fluid rounded" alt="PUBG">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
